<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/blog">Блог</a></li>
            </ul>
        </nav>
    </header>

    <div>
        <div th:each="el: ${post}">
            <h2 th:text="${el.GetTitle()}" />
            <p th:text="${el.GetAnons()}" />
            <p th:text="${el.GetText()}" />



            <a th:href="'/blog/' + ${el.GetId} + '/update'"> Редактировать</a>
        </div>
    </div>

</body>

</html>